
    body {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        background-color: black;
        color: black;
        margin: 1.5;
    }

    nav {
       background-color: red;
       padding: 10px; 
    }

    nav {
        display: flex;
        justify-content: left;
        background-color: rgb(78, 177, 123);
        padding: 0px;
        margin: 0%;
        overflow: hidden;
        width: 100%;
        top: 0%;
        z-index: 10;
    }
    nav a {
        color: bisque;
        text-decoration: none;
        margin: 0%;
        padding: 10px;
    }
    
    h1,h2,h3 {
        color: aqua;
    }

    p {
        color: brown;
    }

    
